<div class="navbar-item">
  <input id="search-input" type="text" placeholder="Search docs">
</div>

<a class="navbar-item" href="#">Home</a>
<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" href="#">Other resources</a>
  <div class="navbar-dropdown">
    <a class="navbar-item" href="https://www.zorabots.be">Zorabots.be</a>
    <a class="navbar-item" href="https://support.zorabots.be">Support Portal</a>
    <a class="navbar-item" href="https://control.zorabots.be">Cloud Control</a>

  </div>
</div>
<div class="navbar-item">
  <span class="control">
    <a class="button is-primary" href="https://support.zorabots.be">Support</a>
  </span>
</div>