/* Navbar */
.navbar {
  font-size: calc(14 / var(--rem-base) * 1rem);
  font-weight: bold;
}

.navbar-brand .logo {
  padding: 0.5rem 0;
  margin-right: 1rem;
}

.navbar .button {
  border-radius: 1rem;
  line-height: 1.75rem;
  padding: 0.5rem 2em;
}

.navbar-item {
  text-transform: uppercase;
}

/* Scrollbar */
.nav-panel-menu::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.nav-panel-menu::-webkit-scrollbar-track {
  box-shadow: none;
  background: var(--background-medium-gray);
}

/* Search results */
#search-input {
  color: var(--color-jet-50);
  border: 1px solid #dbdbdb;
}

.search-result-dropdown-menu {
  text-transform: initial;
  box-shadow: none; /* 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1); */
}

.search-result-dataset {
  border: 1px solid var(--panel-border-color);
  background: #fff;
  color: var(--color-jet-50);
}

.search-result-highlight {
  color: var(--color-accent-light);
  background: var(--panel-background);
}

.search-result-document-title {
  border-right: 1px solid var(--panel-border-color);
  color: var(--color-accent);
}

.search-result-document-hit {
  color: var(--color-jet-50);
  font-weight: normal;
}

.search-result-document-hit > a:hover {
  background-color: var(--color-accent-light);
}

/* Version switcher */
.nav-panel-menu {
  height: 100% !important; /* Remove this once we show nav-panel-explore */
}

.nav-panel-explore {
  display: none; /* Don't show this for now */
}

/* Headers */
.home-link {
  height: 1rem;
  padding: 0;
  width: 1rem;
  margin: 0.5rem;
}

.doc > h1.page:first-child {
  font-size: calc(36 / var(--rem-base) * 1rem);
  margin: 0.5rem 0;
}

@media screen and (min-width: 769px) {
  .doc > h1.page:first-child {
    margin-top: 0.5rem;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.8rem;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.2rem grey;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--color-accent);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent-dark);
}

mark {
  background-color: var(--color-accent-light);
}

/* Toc */
@media screen and (max-width: 1023px) {
  aside.toc.sidebar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  aside.toc.sidebar {
    flex: 0 0 var(--toc-width);
  }
}

@media screen and (min-width: 1216px) {
  aside.toc.sidebar {
    flex-basis: var(--toc-width--widescreen);
  }
}

.toc .toc-menu {
  overflow-y: auto;
}

.toc .toc-menu a.is-active {
  border-left-color: var(--link-font-color);
  color: var(--doc-font-color);
}

/* Specific TOC styling for MQTT docs */
body.dev-mqtt-docs .toc-menu li[data-level="2"] a,
body.dev-cloud-mqtt-docs .toc-menu li[data-level="2"] a {
  padding-left: 0.5rem;
  color: var(--link-font-color);
  font-weight: 500;
  font-family: Roboto Mono, monospace;
}

body.dev-mqtt-docs .toc-menu li[data-level="3"] a,
body.dev-cloud-mqtt-docs .toc-menu li[data-level="3"] a {
  padding-left: 0.5rem;
  color: var(--color-light-gray);
  font-style: italic;
}

body.dev-mqtt-docs .toc .toc-menu h3,
body.dev-cloud-mqtt-docs .toc .toc-menu h3 {
  display: none !important;
}

/* Doc code */
.doc .code {
  color: var(--color-accent-active);
}

/* Admonition */
.doc .admonitionblock .icon {
  border-radius: 1rem;
  color: var(--color-accent);
}

i.fa[class^='icon-'],
i.fa[class*=' icon-']::before {
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
  margin-left: -0.5rem;
}

i.fa.icon-note::before {
  background: no-repeat url("../img/note.svg");
}

i.fa.icon-tip::before {
  background: no-repeat url("../img/tip.svg");
}

i.fa.icon-important::before {
  background: no-repeat url("../img/important.svg");
}

i.fa.icon-warning::before {
  background: no-repeat url("../img/warning.svg");
}

i.fa.icon-caution::before {
  background: no-repeat url("../img/caution.svg");
}

.doc .admonitionblock.note .icon,
.doc .admonitionblock.tip .icon,
.doc .admonitionblock.important .icon,
.doc .admonitionblock.warning .icon,
.doc .admonitionblock.caution .icon {
  background-color: var(--color-accent);
}

/* Left sidebar nav */
/*
.nav-container[data-component=portal] .nav-menu h4 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: var(--color-accent);
}

.nav-container[data-component=portal] .nav-menu > .nav-list {
  margin-left: 0;
}

.nav-container[data-component=portal] .nav-menu > .nav-list > .nav-item > .nav-list {
  display: block;
}
*/

/* Tabs */
.doc .tabs li {
  background-color: var(--tab-active-background);
  border: var(--tab-border-width) solid var(--tab-border-color);
  margin: 0;
  font-weight: normal;
}

.doc .tabs li:hover {
  background-color: var(--tab-active-background);
}

.doc .tabs li.is-active {
  border: var(--tab-border-width) solid var(--color-dark-gray);
  margin: 0;
}

/* MQTT docs */
.asyncapi-channel h3 {
  font-family: Roboto Mono, monospace;
}

.asyncapi-operation h4 code {
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 0.1rem;
  text-transform: uppercase;
  padding: 0 0.25rem;
}

.asyncapi-operation-summary {
  font-size: 0.8em;
  color: var(--color-gray);
}

.asyncapi-operation-tags {
  display: none;
}

.asyncapi-operation-tags h5 {
  display: none;
}

.asyncapi-operation-tags ul {
  padding: 0;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.asyncapi-operation-tags ul li {
  list-style: none;
  display: inline;
}

.asyncapi-operation-tag {
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.8rem;
}

.asyncapi-message {
  padding: 0;
}

.asyncapi-message h5 code {
  color: var(--color-accent);
}

.asyncapi-message h6 {
  color: var(--color-light-gray);
}

.asyncapi-message .listingblock code {
  background-color: var(--background-medium-gray) !important;
  font-size: 0.6rem;
}

.asyncapi-message table.tableblock {
  font-size: 0.8em;
}

.asyncapi-message table.tableblock,
.asyncapi-message table.tableblock > * > tr > * {
  border: 1px solid var(--color-lighter-gray);
}

.asyncapi-message table.tableblock td,
.asyncapi-message table.tableblock th {
  padding: 0.2rem 0.5rem;
}

.asyncapi-message-payload-example code {
  font-size: 0.8em;
}

.asyncapi-property code {
  color: var(--color-gray) !important;
  padding: 0 !important;
}

.asyncapi-property-path code {
  color: var(--color-light-gray) !important;
  padding: 0 !important;
}

.asyncapi-property-type {
  color: var(--color-gray);
}

.asyncapi-property-items-type {
  color: var(--color-gray);
}

.asyncapi-property-description {
  font-style: italic;
}

.asyncapi-property-values {
  color: var(--color-light-gray);
}
